[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pillow = "*"
flask-login = "*"
flask-bootstrap = "*"
flask-mail = "*"
flask-moment = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.7"
